@import "../../mixins/mixins.scss";
@import url("https://use.fontawesome.com/releases/v5.15.0/css/all.css");

.contact_me {
  @include element_middle();

  .contacts {
    @include element_middle();
    font-size: 1.5em;
    width: 100%;
    ul {
      list-style-type: none;
      padding: 0;
      height: 5em;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      justify-items: center;
      li {
        width: min-content;
      }
    }
  }

  figure {
    display: inline-grid;

    figcaption {
      font-size: 2em;
      opacity: 0;
      transform: translateY(-0.2em);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      figcaption {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .far,
  .fab {
    // color: red;
    font-size: 7em;
    // margin-left: 1em;

    transition: all 0.2s ease-in-out;
    &:hover {
      font-size: 10em;
    }
  }
  #resume-caption {
    @include element_middle();
    flex-direction: row;
    cursor: pointer;
    a {
      text-emphasis: none;
      text-decoration: none;
      margin-left: 1em;
      color: black;
    }
    font-size: 1em;
    .far {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 600px) {
  .contact_me {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    .heading {
      position: relative;
    }
    .contacts {
      border: 1px solid red;
      ul {
        grid-template-columns: none;
        justify-items: flex-start;
        li {
          width: 100%;
          padding: 0.3em;
          figure {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-items: start;
            align-items: center;
            i {
              margin: 0 auto;
            }
            figcaption {
              opacity: 1;
            }
          }
        }
      }
    }
    .far,
    .fab {
      &:hover {
        font-size: 7em;
      }
    }
  }
}
