@import "../../mixins/mixins.scss";

.sidenav {
  display: flex;
  align-items: center;
  position: fixed;
  inset: 0;
  height: 100vh;
  width: max-content;
  z-index: 10000;

  .sidenav_contents {
    background-color: whitesmoke;
    height: 100%;
    overflow-x: hidden;
    outline: 1px solid black;
    padding: 0.5em;
    z-index: 1;
  }
  #is_hidden {
    width: 0px;
    padding: 0px;
    transition: 1.5s;
  }
  #is_shown {
    width: 100%;
    transition: 1s;
  }

  .arrow {
    z-index: 0;
  }
  .is_hidden {
    position: absolute;
    left: 1em;
    top: 1em;
  }
  .is_shown {
    visibility: hidden;
  }
}

