@import "../../mixins/mixins.scss";

.sidenav {
  display: flex;
  position: fixed;
  inset: 0;
  height: 100vh;
  min-height: -webkit-fill-available;
  width: max-content;
  z-index: 10000;

  a {
    text-decoration: none;
  }

  .sidenav_contents {
    background-color: hsl(0, 1%, 21%);
    height: 100%;
    overflow-x: hidden;
    outline: 1px solid black;
    padding: 0.5em;
    z-index: 1;

    .sections {
      display: block;
      min-width: 8em;
      padding: 1em;
      font-weight: 500;
      cursor: pointer;
      color: hsl(0, 0%, 76%);

      &:hover {
        color: white;
        font-weight: 600;
      }
    }
  }
  #is_hidden {
    width: 0px;
    padding-right: 0px;
    padding-left: 0px;
    transition: 1s ease-in-out;
  }
  #is_shown {
    width: 100%;
    transition: 1s ease-in-out;
  }

  .sidenav_menu {
    position: relative;
    top: 1em;
    left: 0.5em;
  }
}

.sidenav_remaining {
  @include element_middle();
  position: fixed;
  inset: 0;
  z-index: -1;
  // background-color: var(--colo);
  #is_hidden {
    display: none;
  }
}
