@import "./mixins/mixins.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  @include element_middle();
}

.wrapper {
  position: relative;
  outline: 1px solid black;
  min-height: 100vh;
  min-width: 100vw;
}

.heading {
  //   width: 100%;
  position: absolute;
  top: 0;
}
